<% @post.comments.reverse.each do |comment| %>
  <div class="card my-0.5 mx-auto" style="width: 98%;" id="comment-<%=comment.id%>">
    <span class="card-header">
      <b>
        <%= comment.user.username.capitalize %>
      </b>
      <i>
        commented
        <%= time_ago_in_words(comment.created_at) %> ago
      </i>
      <% if comment.user == current_user %>
      <span style="float: right;">
        <%= link_to "Delete", post_comment_path(@post, comment), method: :delete, remote: true, data: { confirm: 'Are you sure you wish to delete this comment?' } %>
      </span>
      <% end %>
    </span>
    <span class="d-inline-flex">
      <%= image_tag comment.user.avatar.variant(resize_to_limit: [100, 100]), class: "img-thumbnail rounded m-2" %>
      <p class="text-justify m-3"> <%= comment.body %></p>
    </span>
  </div>
  <br>
<% end %>
