<% @posts.reverse.each do |post| %>
  <div class="card mb-5 mx-auto" style="width: 80%;">
    <span class="card-header">
      <b>
        <%= post.user.username.capitalize %>
      </b>
      <i>
        posted
        <%= time_ago_in_words(post.created_at) %> ago
      </i>
      <% if post.user == current_user %>
      <span style="float: right;">
        <%= link_to "Edit", edit_post_path(post) %>
        <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?"} %>
      </span>
      <% end %>
    </span>
    <span class="d-inline-flex">
      <%= image_tag post.user.avatar.variant(resize_to_limit: [150, 150]), class: "img-thumbnail m-2" %>
      <p class="text-justify m-2"><%= post.body %></p>
    </span>
    <span class="card-footer">
      <span>
        <%= link_to '<i class="far fa-comment"></i>'.html_safe, post_path(post), class: "ml-3", style: "max-width: 20px;", id: "comment-link" %>
        <%= post.comments.length %>
      </span>
      <span class="ml-2" id="likes-form-container">
        <% if liked?(post) %>
          <%= link_to "<i id='liked-btn-#{post.id}' class='far fa-thumbs-up text-primary'></i>".html_safe, post_likes_path(post), method: :post, remote: true, class: "liked-btn" %>
        <% else %>
          <%= link_to "<i id='liked-btn-#{post.id}' class='far fa-thumbs-up text-secondary'></i>".html_safe, post_likes_path(post), method: :post, remote: true, class: "liked-btn" %>
        <% end %>
        <span id="post-like-count-<%=post.id%>"> 
          <%= post.likes.uniq {|like| like.user_id }.count %> 
        </span>
      </span>
        <%if current_user  %> 
        <form class="form-inline mb-1" style="float: right;">
          <input type="text" placeholder="Add Comment" class="form-control form-control-sm">
          <button class="btn btn-primary mx-2 btn-sm">Submit</button>
        </form>
        <% end %> 
    </span>
  </div>
<% end %>